@page "/"

    <div class="control-section" id="target">
        <SfDashboardLayout Columns="5" AllowResizing="true">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel Id="one" Column="0" Row="0">
                    <ContentTemplate><div class='text-align'>0</div></ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="two" Row="1" Column="0" SizeX=1 SizeY=2>
                    <ContentTemplate><div class='text-align'>1</div></ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="three" Row="0" Column="1" SizeX=2 SizeY=2>
                    <ContentTemplate><div class='text-align'>2</div></ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="four" Row="2" Column="1" SizeX=1 SizeY=1>
                    <ContentTemplate><div class='text-align'>3</div></ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="five" Row="2" Column="2" SizeX=2 SizeY=1>
                    <ContentTemplate><div class='text-align'>4</div></ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="six" Row="0" Column="3" SizeX=1 SizeY=1>
                    <ContentTemplate><div class='text-align'>5</div></ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="seven" Row="1" Column="3" SizeX=1 SizeY=1>
                    <ContentTemplate><div class='text-align'>6</div></ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="eight" Row="0" Column="4" SizeX=1 SizeY=3>
                    <ContentTemplate><div class='text-align'>7</div></ContentTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </div>
        <style>

            #target{
                width: 900px;
            }
            .e-dashboardlayout {
                padding: 10px;
            }

                .e-dashboardlayout.e-control .e-panel:hover span {
                    display: block;
                }

                .e-dashboardlayout .e-panel .e-panel-container .text-align {
                    vertical-align: middle;
                    font-weight: 600;
                    font-size: 20px;
                    text-align: center;
                }

            .e-template-icon {
                padding: 10px;
                float: right;
                display: none;
            }

            .text-align {
                line-height: 160px;
            }
        </style>
